@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --brand: 27 96% 61%;
  --brand-foreground: 31 97% 72%;
}

.dark {
  --brand: 31 97% 72%;
  --brand-foreground: 27 96% 61%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .glow-effect {
    position: relative;
    overflow: hidden;
  }
  .glow-effect::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      circle,
      hsl(var(--brand) / 0.3),
      transparent 50%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .glow-effect:hover::before {
    opacity: 1;
  }
}

